<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    account Opening

    <br>
    <br>

    <div>Thank you <%- userName%>for giving us a try</div>
    <br>
    <br>
    <a href="<%= url %>" style="padding: 10px 18px; font: bold; background-color: red; color: white;
        cursor: pointer; text-decoration: none;border-radius: 10px;">verify</a>
        <br>
        <br>
</body>
</html>